body {
	font-family: verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#hotpads-logo {
	height: 40px;
}

.brand-modified {
	padding-top: 4px !important;
}

.underline {
	text-decoration: underline
}

.on-top {
	margin-top: 5%;
}

.table {
	font-size: 12px;
}

.table thead th {
	vertical-align: bottom;
	text-align: left;
	font-size: 0.90em;
	margin: 10%;
	overflow: inherit;
	background-color: #585858 !important;
	color: white;
}

.table th,.table td {
	padding: 0px 2px 0px 2px;
	white-space: nowrap;
}

.wide-container {
	margin: 1%;
}

.label-above #areaPartial {
	margin-left: 0px
}

.label-above ul {
	list-style: none;
}

.label-above input[type="text"] {
	width: 85%;
}
/* Navbar */
#generic-navbar {
	margin-bottom: 0px;
	height: 40px;
	background-color: #000;
	height: 30px;
}

#generic-navbar ul {
	padding: 5px 0px 0px 0px;
}

#generic-navbar li {
	display: inline;
	text-align: -webkit-match-parent;
	list-style: none;
	margin-right: 15px;
	margin-top: 9px;
	color: #bbb;
}

#generic-navbar a {
	color: #bbb;
	width: inherit;
}

#generic-navbar a:hover {
	color: white;
}

.sub-navigation {
	margin: 0px 0px 10px 70px !important;
}

.navbar-small {
	height: 50px !important;
}

.distingish-host-project {
	color: #FFA300; ! important;
	font-style: italic
}

/* Login */
.login-controls {
	width: 50%;
	margin-left: 25% !important;
	margin-right: 25%;
}

#login-box {
	width: 33%;
	margin-left: 33%;
	margin-right: 33%;
	margin-top: 5%;
}

@media ( max-width :1000px) {
	#login-box {
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}
}

@media ( max-width :400px) {
	#login-box {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

#login-box input[type="email"],#login-box input[type="password"],#login-box button
	{
	width: 100%;
}
/* StackTraces */
.thread-description {
	border: solid 1px #A3A3A3;
	border-radius: 10px;
	padding: 10px;
	background-color: #eee;
	margin-bottom: 20px;
}

.thread-description .header-thread-descritpion {
	display: inline;
}

.thread-description .header-thread-descritpion input {
	float: right;
}

.thread-filter a {
	margin-left: 10px;
}

.thread-filter #wildcard {
	margin-bottom: 0;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
}

.thread-filer .radio.inline {
	margin-bottom: 5px;
}

/*****************************************************/
/****************View node Data **********************/
/*****************************************************/
.viewNodeDataTable td {
	text-align: left;
}

.viewNodeDataTable .highlighted {
	background-color: #DADADA;
}

#get-info-node {
	list-style: none;
}
/*****************************************************/
/******************setting view***********************/
/*****************************************************/
.hotpads-brand {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
#hotpads-logo {
	height: 42px !important;
}
td.center, th.center {
	text-align: center;
	vertical-align: middle;
}
.center-header th{
	text-align: center;
	vertical-align: middle;
}
a {
	cursor: pointer;
}
select.setting-type {
	border-radius: 0;
	height: 26px;
	margin-bottom: 0;
	padding: 0;
}
.add_form td {
	border-top: none;
}
.titeled-btn-toolbar {
	font-size: 1em;
}
.small-divider>li>.divider {
	padding: 0;
}
.setting-table th {
	background: #72B6E6;
}