#searchField {
	width: 200px
}

.autoCompleteResultsDiv {
	border: 1px solid #666;
	border-bottom: 0px;
	font-size: 10px;
	font-family: arial;
	padding: 0px;
	display: none;
	/* 	position: absolute; */
	/* 	z-index: 100 */
}

.autoCompleteResultsDiv div {
	cursor: pointer;
	border-bottom: 1px solid #666;
	padding: 3px;
	text-align: left
}

.autoCompleteResultsDiv .selected {
	background-color: #666;
	color: #fff
}

.autoCompleteResultsDiv .unselected {
	background-color: #fff;
	color: #666
}

#autoCompleteResults {
	position: relative;
	border-width: 2px;
	border-style: solid;
	border-radius:10px;
	margin: 10px;
	overflow: auto;
	max-height:500px;
	font-size: 10px;
	font-family: arial;
	padding: 0px;
	display: none;
	max-width: 300px;
	width: 300px;
}

#autoCompleteResults div {
	cursor: pointer;
	border-bottom: 1px solid #666;
	padding: 3px;
	text-align: left
}

#autoCompleteResults .selected {
	background-color: #666;
	color: #fff
}

#autoCompleteResults .unselected {
	background-color: #fff;
	color: #666
}